[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AcademicThemes"]
	path = AcademicThemes
	url = https://github.com/hwarden162/academicthemes
[submodule "SCEnt"]
	path = SCEnt
	url = https://github.com/hwarden162/scent
[submodule "rhype"]
	path = rhype
	url = https://github.com/hwarden162/rhype
